@import "./CSS/_Login.scss";
@import "./CSS/_Overview.scss";
@import "./CSS/_Navbar.scss";
@import "./CSS/_Heading.scss";
@import "./CSS/_Items.scss";

body {
  margin: 0;
}

.Content {
}
.Home {
  padding: 1rem;
}
.row {
  margin: 0;
}
