* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
body {
  margin: 0;
}

.Content {
}
.Home {
  padding: 1rem;
}
.row {
  margin: 0;
}
.Date {
  font-family: "Courier New", Courier, monospace;
}

.AlertModal {
  position: fixed;
  height: 30vh;
  top: 0;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  justify-items: center;
  align-items: flex-end;
  width: 100%;
  visibility: hidden;
  transform: translateY(-3rem);
  z-index: -5;
  margin-top: 1rem;
  opacity: 0;
  .AlertModalForm {
    padding: 2rem 2rem 0rem 2rem;
    h2 {
      font-size: 1rem;
      padding: 2rem 0rem 3rem 0rem;
    }
    width: 35%;
    height: 100%;
    background-color: white;
  }
  .form-row {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
  }
}
.AlertModalOpen {
  transition: transform 600ms, opacity 600ms 200ms;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  z-index: 5;
}
.App {
  .content {
    padding: 2rem;
  }
}
@import "./CSS/_Login.scss";
@import "./CSS/_Overview.scss";
@import "./CSS/_Navbar.scss";
@import "./CSS/_Heading.scss";
@import "./CSS/_Items.scss";
@import "./CSS/_Inventory.scss";
