@font-face {
  font-family: one;
  src: url("./Fonts/1.otf");
}
@font-face {
  font-family: two;
  src: url("./Fonts/2.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.small {
  font-size: 1rem;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

body {
  font-family: two;
  margin: 0;
}

/* .Content {
} */
.Home {
  padding: 1rem;
}

.row {
  margin: 0;
}

.Date {
  font-family: "Courier New", Courier, monospace;
}

.AlertModal {
  position: fixed;
  height: 30vh;
  top: 0;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  justify-items: center;
  align-items: flex-end;
  width: 100%;
  visibility: hidden;
  transform: translateY(-3rem);
  z-index: -5;
  margin-top: 1rem;
  opacity: 0;
}
.AlertModal .AlertModalForm {
  padding: 2rem 2rem 0rem 2rem;
  width: 35%;
  height: 100%;
  background-color: white;
}
.AlertModal .AlertModalForm h2 {
  font-size: 1rem;
  padding: 2rem 0rem 3rem 0rem;
}
.AlertModal .form-row {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
}

.AlertModalOpen {
  transition: transform 600ms, opacity 600ms 200ms;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.App .content {
  padding: 2rem;
}

.Login {
  color: black;
  display: grid;
  height: 100vh;
  width: 100%;
  background: url("./Components/Images/WUPbackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.Login > .Title {
  display: grid;
  align-content: center;
  letter-spacing: 0.7rem;
  height: 6rem;
  position: fixed;
  color: white;
  text-shadow: 4px 8px 8px rgba(0, 0, 0, 0.7);
  width: 100%;
  text-align: center;
}
.Login form {
  background-color: rgba(128, 128, 128, 0.3);
  align-self: center;
  justify-self: center;
  width: 40%;
  padding: 1rem;
  border: none;
  color: white;
  text-shadow: 4px 8px 8px rgba(0, 0, 0, 0.7);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}

.Overview > .card > .card-body > .card-deck > .card > .card-body {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.Overview > .card > .card-body > .card-deck > .card > .card-body img {
  grid-row: span 2;
  grid-column: span 1;
}

.Navbar {
  box-sizing: border-box;
  height: 100%;
  padding: 0.5rem 1rem;
  background-color: #00205c;
  min-height: calc(100vh - 70px);
}
.Navbar nav > div ul li {
  padding: 0.2rem;
}
.Navbar nav > div ul li .active {
  color: #0150a5;
  border-bottom: 1px solid rgba(1, 80, 165, 0.5);
  box-shadow: 2px 1px 0px 0px rgba(1, 80, 165, 0.5);
}
.Navbar nav > div ul button {
  width: 100%;
}
.Navbar nav > div ul .btn:disabled {
  opacity: 1;
}
.Navbar nav > div ul .sub-nav {
  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: center;
}
.Navbar nav > div ul .sub-nav .badge {
  width: 100%;
  padding: 8px;
}
.Navbar nav > div ul .sub-nav .badge img {
  max-width: 100%;
}

.Heading {
  padding: 1rem;
  z-index: 1;
}
.Heading div > h4 {
  color: white;
}

.SearchBar {
  width: 50%;
  padding: 1rem 0;
}

.Sales .Search .SearchBar {
  width: 80%;
}
.Sales .Search .DateSearch {
  margin: auto;
}
.Sales .Search .DateSearch .Dateform {
  display: grid;
  align-content: center;
  align-items: center;
  margin-bottom: 0;
}

.Inventories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
.Inventories .Inventory {
  width: 100%;
  height: 20rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.Inventories .Inventory img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.IndividualInventory {
  padding-top: 1rem;
  position: relative;
}
.IndividualInventory .Title {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  align-items: center;
}
.IndividualInventory .Title .deleteInventoryButton {
  display: grid;
  width: 50%;
  height: 60%;
}
.IndividualInventory .Title h1 {
  justify-self: flex-start;
}
.IndividualInventory .head {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 29% 20% 49%;
  min-height: 10rem;
}
.IndividualInventory .head .image {
  width: 100%;
}
.IndividualInventory .head .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.IndividualInventory .head .info p {
  font-size: 1.2rem;
}
.IndividualInventory .head .borrowform {
  padding: 0 2rem;
}
.IndividualInventory .Status {
  padding: 2rem 0rem;
}

.createdModal,
.deleteModalContainer {
  position: fixed;
  left: 0;
  top: 0;
  justify-content: center;
  align-content: center;
  background-color: rgba(76, 56, 255, 0.3);
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: none;
}
.createdModal .Modal,
.createdModal .deleteModal,
.deleteModalContainer .Modal,
.deleteModalContainer .deleteModal {
  width: 50vw;
  min-height: 50vh;
  padding: 2rem;
  background-color: white;
  border-radius: 0.4rem;
}
.createdModal .Modal .closingModal,
.createdModal .Modal .deleteClosingModal,
.createdModal .deleteModal .closingModal,
.createdModal .deleteModal .deleteClosingModal,
.deleteModalContainer .Modal .closingModal,
.deleteModalContainer .Modal .deleteClosingModal,
.deleteModalContainer .deleteModal .closingModal,
.deleteModalContainer .deleteModal .deleteClosingModal {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 4rem;
}

/*# sourceMappingURL=App.css.map */
