.SearchBar {
  width: 50%;
  padding: 1rem 0;
}
.Sales {
  .Search {
    .SearchBar {
      width: 80%;
    }
    .DateSearch {
      margin: auto;
      .Dateform {
        display: grid;
        align-content: center;
        align-items: center;
        margin-bottom: 0;
      }
    }
  }
}
