.createdModal,
.deleteModalContainer,
.galleryModalContainer,
.editModalContainer {
  position: fixed;
  left: 0;
  top: 0;
  justify-content: center;
  align-content: center;
  background-color: rgba($color: #4c38ff, $alpha: 0.3);
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: none;
  .Modal,
  .deleteModal,
  .galleryModal,
  .editModal {
    width: 50vw;
    min-height: 50vh;
    padding: 2rem;
    background-color: white;
    border-radius: 0.4rem;
    .closingModal,
    .deleteClosingModal,
    .galleryClosingModal,
    .editClosingModal {
      color: white;
      font-size: 2rem;
      cursor: pointer;
      position: absolute;
      top: 1rem;
      right: 4rem;
    }
  }
  .galleryModal {
    width: 80vw;
    min-height: 80vh;
    overflow: scroll;
    .photoGallery {
      display: grid;
      grid-gap: 1rem;
      grid-template-rows: 85% 15%;
      width: 100%;
      .Images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        .image {
          position: relative;
          width: 100%;
          border-radius: 5px;
          border: 1px solid black;
          padding: 1rem;
          .cover {
            cursor: pointer;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0;
            background-color: black;
          }
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
